body {
    margin: 0;
    background: black;
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
}

#stars, #fireworks {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.intro {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro h1 {
    color: gold;
    text-shadow: 0 0 25px gold;
}

.content {
    display: none;
    position: relative;
    z-index: 5;
    padding: 80px 0;
    text-align: center;
}

.player-wrapper {
    position: relative;
    width: 400px;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(255, 200, 0, 0.7);
    transition: 0.4s ease;
}

.player-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 0 60px rgba(255, 215, 0, 1);
}

.player-wrapper iframe {
    opacity: 0.9;
    border-radius: 20px;
}

.custom-player-ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.player-glow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(255,215,0,0.3), transparent 70%);
    animation: glowPulse 3s infinite alternate;
}

@keyframes glowPulse {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

.player-info {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: gold;
    text-shadow: 0 0 10px gold;
}

.player-info h2 {
    margin: 0;
    font-size: 18px;
}

.player-info p {
    margin: 0;
    font-size: 12px;
    opacity: 0.8;
}


/* Фото */
.main-photo {
    width: 340px;
    margin: 0 auto 40px;
    position: relative;
}

.main-photo img {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 30px gold;
}

.photo-text {
    margin-top: 10px;
    color: gold;
    font-size: 20px;
}

/* Пожелания */
.wishes {
    margin-bottom: 50px;
}

.wish {
    margin: 10px 0;
    font-size: 20px;
    color: gold;
    text-shadow: 0 0 15px gold;
}

/* Горизонтальные видео */
.videos-wrapper {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x mandatory;
}

.video-card {
    flex: 0 0 auto;
    width: 300px;
    height: 530px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 25px gold;
    position: relative;
    scroll-snap-align: center;
}

.video-card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-card button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border: 2px solid gold;
    background: rgba(0,0,0,0.6);
    color: gold;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
}